.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f3eae3;
}

.backdrop {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(
        180deg,
        #fcf2eb 0%,
        rgba(252, 242, 235, 0) 100%
    );
    z-index: 0;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.05);
}
